.main{
  background-color: rgb(30, 30, 59);
  color: white;
}
.heading{
  display: flex;
  justify-content:center;
  font-size: xx-large;
  background-color: rgb(110, 145, 173);
  color: black;
  border-bottom:  6px solid rgb(236, 205, 215);
}
.allbox{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  height:fit-content;
  width: fit-content;
  overflow:visible;
  margin-top: 100px;
}
.box{
  height:fit-content;
  width: 400px;
  border: 6px solid rgb(236, 205, 215);
  border-radius: 10px;
  padding: 8px;
  margin: 30px;
  background-color: rgb(110, 145, 173);
  color: black;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.button{
  height: fit-content;
  width: fit-content;
  padding: 6px;
  border: 6px solid white;
  border-radius: 8px;
  font-size: x-large;
  justify-content: center;
  display: flex;
  margin: 6px;
  background-color: white;
  text-decoration: solid;
  font-weight: 800;
  font-style:italic;
  color: rgb(30, 30, 59);
}

#footer{
  background-color: rgb(147, 184, 199);
  color: black;
  font-size: x-large;
}
